.user-card {
  border-radius: 5px;
  margin: 10px;
  text-align: right;
}
.bot-card {
  border-radius: 5px;
  margin: 10px;
}

.header {
  max-width: 40px;
}

.header img {
  max-width: 40px;
}

.user-view {
  color: white;
  background-color: black;
  display: inline-block;
  border-radius: 10px;
  padding: 1rem;
}
.bot-view {
  color: black;
  background-color: lightgray;
  display: inline-block;
  border-radius: 10px;
  padding: 1rem;
}
